<section class="footer mb-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 rounded shadow">
        <div
          class="footer-content p-2 m-2 d-flex align-items-start justify-content-center flex-wrap g-2 gap-4"
        >
          <div class="qrcon bg-white rounded me-2 position-relative">
            <p class="w-100 text-center p-2">Hi, I am Omar.</p>

            <img src="assets/logos/QR.png" alt="QR-code" class="" />
          </div>
          <div class="div1 p-0 m-0 text-center">
            <p class="p-0 m-0">
              Copyright © 2024 Manage360. All rights reserved.
            </p>
            <hr class="border-2" />
            <p class="name p-0 m-0">
              Designed & Developed By : <span>OMAR ELDEEB</span>
            </p>
          </div>

          <div class="div2 p-0 m-0 text-center">
            <p>Contact Me.</p>
            <hr class="border-2" />
            <div class="social-container text-center">
              <a
                class="text-decoration-none"
                href="https://omar-eldeeb98.github.io/My-Website/home"
                target="_blank"
                ><i class="mx-2 fa-brands fa-wolf-pack-battalion"></i
              ></a>
              <a
                href="mailto:omarmakrameldeeb.98@gmail.com"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="mx-2 fa-solid fa-envelope"></i
              ></a>
              <a
                ef="https://github.com/Omar-Eldeeb98"
                target="_blank"
                class="text-decoration-none"
                ><i class="mx-2 fa-brands fa-github"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                target="_blank"
                class="text-decoration-none"
                ><i class="mx-2 fa-brands fa-linkedin"></i
              ></a>
              <a
                href="https://wa.me/+201018341760"
                target="_blank"
                class="text-decoration-none"
              >
                <i class="mx-2 fa-brands fa-square-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
