<div
  class="d-flex flex-column justify-content-between vh-100"
  *ngIf="!isLoading"
>
  <app-nav></app-nav>
  <div class="mx-1">
    <app-footer></app-footer>
  </div>
</div>

<div class="spalsh" *ngIf="isLoading">
  <div
    class="logo-container animate__animated animate__fadeInDownBig animate__rotateIn"
  >
    <img src="assets/logos/find.png" alt="logo" class="w-100" />
  </div>

  <p
    class="py-2 mt-2 px-4 rounded fw-bolder h2 text-capitalize animate__animated animate__fadeInUpBig text-center"
  >
    Manage360
    <span class="_by lead text-uppercase"
      ><hr class="mt-3 mb-1" />
      By : Omar Eldeeb</span
    >
  </p>
</div>
