<section class="w-100 h-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div
            class="dd d-flex w-100 align-items-center justify-content-center rounded shadow py-2"
          >
            <img src="assets/logos/ch.png" class="me-3" alt="" />
            <h1 class="fw-bold p-0 m-0 text-uppercase">Analysis Page :</h1>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div>
          <hr class="border-2 text-warning" />
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <div
          class="chart-container p-4 rounded shadow"
          *ngIf="allUsers.length > 0"
        >
          <div class="d-flex align-items-center justify-content-between">
            <p class="text-uppercase fw-bold">Employees Positions</p>
            <p class="lead">
              Total Emps :
              <span class="text-warning fw-bold">{{ allUsers.length }}</span>
            </p>
          </div>

          <div class="my-chart w-100 h-100 shadow" [chart]="testChart"></div>
        </div>
      </div>

      <div class="col-md-6 mb-2" *ngIf="allUsers.length > 0; else wait">
        <div
          class="chart-container p-4 rounded shadow"
          *ngIf="allUsers.length > 0"
        >
          <div class="d-flex align-items-center justify-content-between">
            <p class="text-capitalize fw-normal mx-auto lead">
              Percentage of Males & Females
            </p>
          </div>

          <div class="my-chart w-100 h-100 shadow" [chart]="testChart0"></div>
        </div>
      </div>

      <div class="col-md-12">
        <div>
          <hr class="border-2 text-warning" />
        </div>
      </div>

      <ng-template #wait>
        <div class="col-md-8 mx-auto mb-0 mt-2">
          <div class="msg-container p-2">
            <div class="img-container mx-auto p-2 shadow-lg rounded">
              <img src="assets/logos/box.png" alt="" class="w-100 h-100" />
            </div>

            <hr class="text-warning border-4" />
            <p class="text-center p-3 lead fw-bold mx-auto rounded shadow-lg">
              No Data Available.
            </p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
