<section class="section-notfound w-100 h-100">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-12">
        <div>
          <div
            class="dd d-flex w-100 align-items-center justify-content-center rounded shadow py-2"
          >
            <img src="assets/logos/error-404.png" class="me-3" alt="404" />
            <h1 class="fw-bold p-0 m-0 text-capitalize">Page Not Found .</h1>
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <hr class="w-100 mb-1" />
      </div>

      <div class="col-md-6 mx-auto">
        <button class="back-btn mx-auto" (click)="navigateToPreviousRoute()">
          <i class="fa-solid fa-arrow-left-long"></i>
        </button>
        <div class="img-container p-3">
          <img src="assets/logos/error-404.png" alt="404 error" />
        </div>
      </div>
    </div>
  </div>
</section>
